.custom-date-picker[data-v-857a69b9]{font-size:13px}@keyframes spin-857a69b9{0%{transform:rotate(0)}to{transform:rotate(360deg)}}.animate-spin[data-v-857a69b9]{animation:spin-857a69b9 1s linear infinite}
